{%extends 'base.html'%}
{% load staticfiles %}
{%block css%}<link rel="stylesheet" href="{%static 'css/index.css'%}"/>{%endblock%}

{%block content%}
<section>
<img class="bgimg" src="{%static 'img/cdc_bg.png'%}"/>

<dl>
	<a href="/"><dt><p><img src="{%static 'img/analyze.png'%}"/><b>首页</b></p></dt></a>
	<a href="/monitor/"><dt><p><img src="{%static 'img/monitor.png'%}"/><b>监控</b></p></dt></a>
	<a href="/report/"><dt><p><img src="{%static 'img/report.png'%}"/><b>报告</b></p></dt></a>
	<br class="cb"/>
</dl>

</section>
{%endblock%}