{%extends 'base.html'%}
{% load staticfiles %}
{%block css%}<link rel="stylesheet" href="{%static 'css/blog.css'%}"/>{%endblock%}
{%block js%}<script src="{% static 'js/blog.js' %}"></script>{%endblock%}
{%block content%}
<section>
	<div class="block" style="margin-top:10px;width:49.5%;float:left">
		<div class="tit">微博内容</div>
		<div class="data">
		事件描述内容事件描述内容事件描述内容事件描述内容事件描述内容事件描述内容事件描述内容事件描述内容事件描述内容事件描述内容事件描述内容事件描述内容
		事件描述内容事件描述内容事件描述内容事件描述内容事件描述内容事件描述内容事件描述内容事件描述内容事件描述内容事件描述内容事件描述内容事件描述内容
		事件描述内容事件描述内容事件描述内容事件描述内容事件描述内容事件描述内容事件描述内容事件描述内容事件描述内容事件描述内容事件描述内容事件描述内容
		</div>
	</div>
	<div class="block" style="margin-top:10px;width:49.5%;float:right">
		<div class="tit">发送人信息</div>
		<div class="data">
			昵称：某某某 <br />
			性别：男 <br />
			<br />
			<br />
		</div>
	</div>
	<br class="cb"/>
	<div class="block" style="width:32%;margin-right:1%;float:left">
		<div class="tit">转发路径</div>
		<div class="data" id="chart1" style="height:300px"></div>
	</div>
	<div class="block" style="width:33%;float:left">
		<div class="tit">转发时间曲线</div>
		<div class="data" id="chart2" style="height:300px"></div>
	</div>
	<div class="block" style="width:33%;margin-left:1%;float:right">
		<div class="tit">转发人群特征</div>
		<div class="data" id="chart3" style="height:300px"></div>
	</div>
	<br class="cb"/>
	<div class="block" style="width:32%;margin-right:1%;float:left">
		<div class="tit">评论关键词</div>
		<div class="data" id="chart4" style="height:300px"></div>
	</div>
	<div class="block" style="width:33%;float:left">
		<div class="tit">评论情感</div>
		<div class="data" id="chart5" style="height:300px"></div>
	</div>
	<div class="block" style="width:33%;margin-left:1%;float:right">
		<div class="tit">评论人群特征</div>
		<div class="data" id="chart6" style="height:300px"></div>
	</div>
	<br class="cb"/>
	<div class="block" style="width:49.5%;float:left">
		<div class="tit">地理分布</div>
		<div class="data" id="chart7" style="height:500px"></div>
	</div>
	<div class="block" style="width:49.5%;float:right">
		<div class="tit">相关内容</div>
		<div class="data" id="chart8" style="height:500px"></div>
	</div>
	<br class="cb"/>
</section>
{%endblock%}