footer {
  position: fixed;
}
section {
  width: 96%;
  margin-left: 2%;
  overflow: auto;
  margin-bottom: 40px;
}
section h1 {
  font-weight: 200;
  text-align: center;
  font-size: 1.2em;
  line-height: 40px;
}
section .block {
  border: 1px solid #cccccc;
  min-height: 100px;
  padding: 4px 8px;
  margin-bottom: 8px;
  border-radius: 8px;
  box-sizing: border-box;
}
section .block .tit {
  line-height: 26px;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 4px;
}
section .block .data {
  line-height: 22px;
}
